* {
    font-family: sans-serif;
}

body {
    width: 100%;
    margin-left: 0;
}

a {
    text-decoration: none;
}

header{
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* width: 1377px; */
    margin: 0 auto;
    margin-top: -7px;
    padding-top: 20px;
    background-color: #fdf2e9;
}
.list_mobile-ul{
    list-style-type: none;
   padding: 0;
}
.list_mobile-li{
    margin-top: 1rem;
}
.nav_none-button{
    border: none;
    background: #fdf2e9;
}
.list_mobile{
    display: none;
}
.nav_mobile{
    display: block;
    position: absolute;
    background-color: #fae5d3;
 
   right: 0;
    top: 0;
}
.button_mobile-none{
    display: none;
}
.nav_img-none{
    width: 1.2rem;
    height: 1.2rem;
}
.nav_none {
    display: none;
}

.nav_logo {
    margin-left: 60px;
}

.navbar {
    margin-right: 60px;
}

.nav__logo {
    width: 180px;
}

.nav_link {
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-right: 25px;
}

.nav_button {
    border: none;
    background-color: #e67e22;
    color: white;
    /* padding: 10px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.main_first {
    display: flex;
    width: 100%;
    background-color: #fdf2e9;
    padding-top: 60px;
    z-index: 1;
    /* padding-left: 210px;
    padding-right: 210px; */
}

.main_first-header {
    font-size: 37px;
    font-weight: 600;
    width: 400px;
}

.main_first-text {
    font-size: 15px;
    width: 400px;
    margin-top: 30px;
}

.main_first-button {
    margin-top: 50px;
}

.main__first-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background-color: #e67e22;
    cursor: pointer;
}

.main__first-button2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin-left: 20px;
    cursor: pointer;
}

.main_first-men {
    width: 400px;
    display: flex;
    margin-top: 60px;
}

.main__first-mens {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: -20px;
    border: 5px solid white;
}

.main_first-number {
    display: flex;
    margin-left: 30px;
    font-size: 17px;
    margin-top: -6px;
}

.main_first-span {
    color: #e67e22;
    font-weight: 600;
}


.main__first{
    width: 50%;
    margin: 0 auto;
}

.main__first {
    width: 400px;
}

.main_first-photo {
    /* margin-left: 0px;
    margin-right: 30px; */
    width: 430px;
    margin: 0 auto;
}

.main_second {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
   
}

.main_second-header {
    text-align: center;
    font-size: 20px;
    color: gray;
}
.main_second-photos{
    display: flex;
    justify-content: space-between;
}

.main__second-photos {
    display: flex;
    width: 150px;
    margin-left: 30px;
    filter: grayscale(100%);
}

.main__second-photos:hover {
    filter: none;
}

.main_third {
    /* margin-top: 100px;
    padding-left: 225px; */
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.main_third-box1 {
    display: flex;
    justify-content: space-around;
}

.main_third-box1-2_img {
    width: 180px;
    position: absolute;
    top: -70px;
    left: 20px;
}

.main_third-box1-2 {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fae5d3;
    border-radius: 100%;
    margin-left: 60px;
    margin-top: 30px;
}

.main_third_color {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-color: #fdf2e9;
    left: 35px;
    top: 35px;
}

.main_third-header {
    color: #cf711f;
    font-size: 12px;
    font-weight: 700;
    width: 100px;
    height: 20px;
    margin-bottom: -25px;
}

.main_third-text {
    font-size: 37px;
    font-weight: 700;
    width: 750px;
}

.main_third-box1-1_header {
    font-size: 60px;
    color: #6f6f6f;
    width: 50px;
}

.none_third-box {
    display: none;
}

.main_third-box1-1_text1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: -20px;
}

.main_third-box1-1_text2 {
    font-size: 18px;
    width: 530px;
    color: #555;
}

.main_third-box2 {
    margin-top: 70px;
}

.main_third-box1-1_2 {
    /* margin-left: 60px; */
}

.main_third-box3 {
    margin-top: 70px;
}

.main_fifth {
    margin-top: 100px;
}

.main_fifth-box1-div {
    display: flex;
    justify-content: space-around;
}

.main_fifth-box1-div11 {
    display: flex;
}

.main__fifth-header {
    font-size: 16px;
    color: #e67e22;
    text-align: center;
}

.main__fifth-text {
    font-size: 29px;
    font-weight: 700;
    text-align: center;
    margin-top: -8px;
}

.main_fifth-box1 {
    width: 300px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.main__fifth-box1-img {
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main_fifth-box1-button {
    background-color: rgb(67, 179, 67);
    width: 100px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    cursor: pointer;
}

.main_fifth-box1-button-header {
    font-size: 13px;
    font-weight: 700;
}

.main_fifth-box1-header {
    font-size: 24px;
}

.main__fifth_icon {
    color: orange;
}

.main_fifth-box1-div11 {
    margin-top: -15px;
    margin-left: 10px;
}

.main_fifth-box1-div1_text2 {
    margin-left: 5px;
    color: #555;
}

.main_fifth-box1-div1_text {
    color: #555;
}

.main_fifth-box1-1 {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main_fifth_buttons {
    display: flex;
}

.main_fifth-button {
    background-color: greenyellow;
    padding-left: 10px;
    padding-right: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.main_fifth_button2 {
    background-color: orange;
    padding-left: 10px;
    padding-right: 7px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.main_fifth-boxes {
    display: flex;
    justify-content: space-between;
}

.main_fifth-box-first {
    margin-left: 40px;
}

.main_fifth-box-icon1 {
    color: #cf711f;
    width: 25px;
    height: 25px;
}

.main_fifth-box2-div {
    display: flex;
    margin-top: 10px;
}

.main_fifth-box2_header {
    margin-top: -5px;
}

.main_fifth-box2-yazi_header {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 2px;
    color: #888888;
    /* text-align: center; */
}

.main_fifth-box2 {
    margin-left: 40px;
}

.main_fifth-box1-div {
    margin-top: 15px;
}

.main_fifth {
    /* padding-left: 225px;
     padding-right: 220px; */
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
}

.main_fifth-link-header {
    text-align: center;
    font-size: 18px;
    margin-right: 50px;
    margin-top: 25px;
    text-decoration: underline;
    color: #cf711f;
}

.main_fifth-link_icon {
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
}

.main__fifth {
    margin-right: 50px;
}

.main_sixth {
    background-color: #fdf2e9;
}

.main_sixth-box1-1_header {
    font-size: 16px;
    color: #e67e22;
    width: 50px;
    height: 5px;
}

.main_sixth-box1 {
    margin-top: 100px;
    padding-left: 70px;
}

.main_sixth-box1-1_text {
    font-size: 32px;
    font-weight: 600;
    width: 520px;
}

.main_sixth-img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.main_sixth-box2-1_text1 {
    font-size: 18px;
    width: 360px;
    color: #6f6f6f;
}

.main_sixth_box2-1_adress {
    font-size: 16px;
    width: 110px;
    color: #6f6f6f;
    margin-top: -5px;
}

.main_sixth {
    display: flex;
    margin-top: 100px;
}

.main_sixth-box2 {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 380px 380px;
    row-gap: 20px;
}

.main_sixth-box2-img {
    width: 160px;
    height: 160px;
}

.main_sixth-box2-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.main_senenth-main-header {
    font-size: 16px;
    color: #e67e22;
    width: 50px;
    height: 5px;
}

.main_seventh-main {
    margin-left: 70px
}

.main_senenth-main-text {
    font-size: 32px;
    font-weight: 600;
    width: 580px;
}

.main_seventh-boxes1 {
    border: 1px #fae5d3 solid;
    width: 300px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.main_seventh-boxes1-main {
    text-align: center;
}

.boxes1-main_header {
    font-size: 24px;
    color: #e67e22;
}

.boxes1-main_text {
    font-size: 24px;
    font-weight: 700;
}

.boxes1-main_text1 {
    font-size: 15px;
    color: #6f6f6f;
    margin-top: -12px;
}

.boxes1-main_span {
    font-size: 35px;
}

.main_seventh-box1 {
    display: flex;
}

.main_seventh-icon {
    width: 25px;
    height: 25px;
    color: #e67e22;
}

.main_seventh-box1-text {
    font-size: 18px;
    margin-top: -1px;
    margin-left: 10px;
    color: #555;
}

.main_seventh-button {
    color: white;
    font-size: 18px;
    border: none;
    background-color: #e67e22;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.main_seventh-boxes {
    display: flex;
    margin: 0 auto;
    width: 820px;
    margin-top: 80px;
}

.main_seventh-boxes1-11 {
    background-color: #fae5d3;
    margin-left: 40px;
    position: relative;
}

.main_seven-transform {
    text-align: center;
    border-bottom: 50px solid yellow;
    border-left: 40px solid transparent;
    border-right: 60px solid transparent;
    height: 0;
    width: 125px;
    position: absolute;
    transform: matrix(0.586, 0.8, -0.8, 0.586, 0, 0);
    width: 100px;
    top: 40px;
    right: -58px;
    /* background-color: #e67e22; */
    font-size: 6px;
}

.main_seven-transform_header {
    margin-top: 20px;
}

.main_seventh {
    margin-top: 80px;
}

.main_seventh-end {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}

.main_seventh-end-text {
    font-size: 16px;
    color: #6f6f6f;
}

.main_eighth-img {
    width: 50px;
}

.main_eighth-header {
    font-size: 24px;
    width: 240px;
}

.main_eighth-text {
    width: 250px;
    font-size: 18px;
}

.main_eighth {
    display: flex;
    /* column-gap: 30px; */
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.main_ninth {
    display: flex;
    background-color: #e67e22;
    justify-content: space-between;
    width: 80%;
    height: 420px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 5px 10px 18px #888888;
}

.main_ninth_header {
    width: 480px;
    font-size: 38px;
    font-weight: 700;
    opacity: 0.7;
}

.main_ninth_text {
    font-size: 16px;
    opacity: 0.7;
}

.main_form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 40px;
}

.main_ninth-form-box1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

label {
    font-size: 16px;
    font-weight: 600;
}

input {
    border: none;
    border-radius: 10px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

select {
    border: none;
    border-radius: 10px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.main_ninth-form-button {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: #45260a;
    cursor: pointer;
    border: none;
}

.main_ninth-img {
    /* display: flex; */
    width: 400px;
    height: 420px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.7;
}

.main_ninth-form {
    margin-top: 50px;
}

.main_ninth-box1 {
    width: 560px;
    /* padding-top: 50px; */
    margin-top: 20px;
    margin-left: 50px;
}

.footer_img {
    width: 180px;
}

.logo {
    margin-top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.footer_social-logo {
    width: 70px;
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
}

.address {
    margin-top: 60px;
    width: 280px;
    color: #6f6f6f;
}

.footer_header {
    width: 170px;
    font-size: 24px;
    color: #555;
}

.footer_ul {
    list-style-type: none;
    width: 200px;
}

.footer_link {
    color: #6f6f6f;
}

.footer_li {
    width: 200px;
}

.div_ul {
    width: 200px;
    margin-right: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.footer_header {
    margin-top: -5px;
    margin-left: 35px;
}

.footer_li {
    margin-top: 20px;
}

.li_footer {
    margin-top: 40px;
}

hr {
    margin-top: 200px;
}

@media (min-width:320px) and (max-width:480px) {
    header{
        width: 100%;
        background-color: #fae5d3;
    }
    .nav_none {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .navbar {
        display: none;
    }
    .nav__logo {
        width: 100px;
        margin-right: 100px;
    }
    .main_first {
        display: block;
        /* padding-left: 65px; */
    }
    .main_first-header {
        font-size: 19px;
        width: 250px;
    }
    .main_first-text {
        font-size: 12px;
        width: 255px;
    }
    .main__first {
        width: 255px;
    }
    .main_first-men {
        width: 255px;
    }
    .main_first-button {
        width: 255px;
    }
    .main__first-button {
        padding: 4px 10px 4px 10px;
        font-size: 14px;
    }
    .main__first-button2 {
        padding: 4px 10px 4px 10px;
        font-size: 14px;
    }
    .main_first-photo {
        width: 210px;
    }
    .main_first-read {
        width: 255px;
    }
    .main__first-mens {
        width: 20px;
        height: 20px;
        border: 5px white solid;
    }
    .main_first-span {
        font-size: 12px;
    }
    .main_first-number-text {
        font-size: 12px;
    }
    .main_second {
        width: 300px;
        margin: 0 auto;
    }
    .main_second-header {
        font-size: 14px;
    }
    .main__second-photos {
        width: 30px;
    }
    .main_second-photos {
        display: flex;
        width: 150px;
        /* justify-content: space-around; */
    }
    .main_third {
       width: 90%;
       margin: 0 auto;
    }
    .main_third-header {
        font-size: 12px;
    }
    .main_third-text {
        width: 255px;
        font-size: 15px;
        margin-top: 20px
    }
    .main_third-box1-1_header {
        font-size: 28px;
        width: 270px;
    }
    .main_third-box1-1_text1 {
        font-size: 20px;
        width: 270px;
    }
    .main_third-box1-1_text2 {
        font-size: 15px;
        width: 270px;
    }
    .main_third-box1 {
        display: block;
    }
    .main_third-box1-2 {
        margin-left: 0px;
    }
    .main_third-box1-1_2 {
        display: none;
        margin-left: 0px;
    }
    .none_third-box {
        display: block;
    }
    .main__third {
        width: 255px;
    }
    .main_third-box1-2_img {
        margin-top: 20px;
    }
    .main_fifth-boxes {
        display: block;
        margin-top: 30px;
    }
    .main_fifth-box1 {
        margin-left: -35px;
        margin-top: 40px;
    }
    .main_fifth-box2 {
        margin-left: 10px;
        margin-top: 40px;
    }
    .main__fifth {
        width: 255px;
    }
    .main__fifth-header {
        font-size: 12px;
        width: 255px;
    }
    .main__fifth-text {
        font-size: 20px;
    }
    /* 6 */
    .main_sixth {}
    .main_sixth-box1-1 {
        width: 180px;
    }
    .main_sixth-box1-1_header {
        font-size: 13px;
        width: 180px;
    }
    .main_sixth-box1-1_text {
        font-size: 15px;
        width: 180px;
    }
    .main_sixth-box1 {
        padding-left: 10px;
    }
    .main_sixth-img {
        width: 30px;
        height: 30px;
    }
    .main_sixth-box2-1_text1 {
        font-size: 10px;
        width: 130px;
    }
    .main_sixth_box2-1_adress {
        font-size: 9px;
        width: 60px;
    }
    .main_sixth-box2-1 {
        width: 200px;
    }
    .main_sixth-box2 {
        display: flex;
        flex-wrap: wrap;
    }
    .main_sixth-box2-img {
        width: 50px;
        height: 50px;
    }
    .main_sixth-box2-2 {
        margin-right: 100px;
        display: grid;
        grid-template-columns: 40px 40px;
        margin-top: 30px;
    }
    .main_sixth {
        display: flex;
    }
    /* 7 */
    .main_senenth-main-header {
        width: 50px;
        font-size: 12px;
    }
    .main_senenth-main-text {
        font-size: 15px;
        width: 270px;
    }
    .main_seventh-main {
        width: 250px;
        margin-left: 20px;
    }
    .main_seventh-boxes1-main {
        /* width: 100px; */
    }
    .main_seventh-boxes {
        display: block;
    }
    .boxes1-main_header {
        font-size: 14px;
        width: 50px;
        margin: 0 auto;
    }
    .boxes1-main_text {
        font-size: 13px;
    }
    .boxes1-main_span {
        font-size: 16px;
    }
    .boxes1-main_text1 {
        font-size: 15px;
    }
    .main_seventh-icon {
        width: 25px;
        height: 25px;
    }
    .main_seventh-box1-text {
        font-size: 16px;
        margin-top: 1px;
    }
    .main_seventh-button {
        padding: 2px 9px 2px 9px;
        font-size: 15px;
    }
    .main_seventh-boxes1 {
        width: 250px;
    }
    .main_seventh-boxes1-11 {
        margin-left: 0px;
        margin-top: 20px;
    }
    .main_seventh-boxes {
        width: 320px;
        margin: 0 auto;
    }
    .main_seven-transform {
        /* display: none;  bunu sorus */
        display: none;
    }
    .main_seventh-end-text {
        width: 260px;
        font-size: 14px;
    }
    .main_seventh-end {
        width: 260px;
        margin-left: 0px;
    }
    /* 8 */
    .main_eighth {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 auto;
    }
    .main_eighth-img {
        width: 25px;
    }
    .main_eighth-header {
        font-size: 14px;
        width: 140px;
    }
    .main_eighth-text {
        font-size: 14px;
        width: 140px;
    }
    /* 9 */
    .main_ninth {
        margin-left: 0;
        margin: 0 auto;
        margin-top: 20px;
    }
    .main_ninth-box1 {
        margin-left: 0;
        padding-left: 10px;
    }
    .main_ninth_header {
        font-size: 12px;
        width: 160px;
    }
    .main_ninth_text {
        font-size: 9px;
    }
    .main_ninth-box2 {
        display: none;
    }
    label {
        font-size: 13px;
    }
    input {
        padding: 2px 8px 2px 8px;
    }
    select {
        padding: 2px 8px 2px 8px;
    }
    .main_ninth-form-button {
        padding: 3px 7px 3px 7px;
        font-size: 14px;
        margin-top: 0px;
    }
    /* 10 */
    .footer_img {
        width: 60px;
    }
    .logo {
        width: 30px;
    }
    .address {
        font-size: 14px;
        width: 100px;
    }
    .footer_header {
        font-size: 10px;
        width: 60px;
    }
    .box1 {
        display: none;
    }
    .footer_link {
        font-size: 9px;
        width: 70px;
    }
    address {
        font-size: 9px;
        width: 70px;
    }
    .footer_ul {
        width: 90px;
    }
    .footer_li {
        width: 70px;
    }
    .div_ul {
        width: 90px;
    }
    hr {
        margin-top: 30px;
    }
    footer {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 150px 150px;
        margin-left: 0px;
    }
}

@media (min-width:1015px) and (max-width:1120px) {
    .main_first {
        /* padding-left: 90px; */
    }
    .main_second {
        width: 70%;
        margin: 0 auto;
        /* margin-left: 100px; */
        
    }
    .main_second-photos {
        display: flex;
    }
    .main__second-photos {
        margin-left: 20px;
    }
    .main_third {
        /* padding-left: 100px; */
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .main_fifth {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .main_sixth-box1-1_header {
        font-size: 15px;
    }
    .main_sixth-box1-1_text {
        font-size: 24px;
    }
    .main_sixth-img {
        width: 50px;
        height: 50px;
    }
    .main_sixth-box2-1 {
        width: 300px;
    }
    .main_sixth-box2 {
        display: grid;
        grid-template-columns: 200px 200px;
        row-gap: 10px;
        column-gap: 20px;
    }
    .main_sixth-box2-1_text1 {
        font-size: 17px;
        width: 210px;
    }
    .main_sixth-box2-img {
        width: 130px;
        height: 130px;
    }
    .main_seventh-end-text {
        width: 100%;
        font-size: 15px;
    }
    .main_eighth-img {
        width: 50px;
        height: 50px;
    }
    .main_eighth-header {
        font-size: 17px;
        width: 190px;
    }
    .main_eighth-text {
        font-size: 15px;
        width: 180px;
    }
    .main_ninth_header {
        font-size: 20px;
        width: 300px;
    }
    .main_ninth_text {
        font-size: 15px;
    }
    .main_ninth-form {
        display: flex;
    }
    label {
        font-size: 15px;
    }
    input {
        padding: 5px 12px 5px 12px;
    }
    select {
        padding: 5px 12px 5px 12px;
    }
    .main_form {
        row-gap: 20px;
        column-gap: 40px;
    }
    .main_ninth-form {
        margin-top: 0px;
    }
    .main_ninth-form-button {
        margin-top: 0px;
    }
    footer {
        column-gap: 0;
    }
    .footer_img {
        width: 100px;
    }
    .address {
        width: 120px;
        font-size: 14px;
    }
    .box2 {
        width: 213px;
    }
    .footer_header {
        font-size: 14px;
        width: 100px;
    }
    .footer_ul {
        width: 160px;
    }
    .footer_li {
        width: 100px;
        font-size: 13px;
    }
}

@media (min-width:1120px) and (max-width:1220px) {
    /* .main_first{
        padding-left: 160px;
    } */
    .main_sixth-img {
        width: 50px;
        height: 50px;
    }
    .main_third{
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .main_sixth-box2-1 {
        width: 300px;
    }
    .main_sixth-box2 {
        display: grid;
        grid-template-columns: 200px 200px;
        row-gap: 10px;
        column-gap: 20px;
    }
    .main_sixth-box2-1_text1 {
        font-size: 17px;
        width: 210px;
    }
    .main_sixth-box2-img {
        width: 130px;
        height: 130px;
    }
    .main_ninth {
        width: 90%;
    }
    .main_first-photo {
        width: 410px;
    }
    footer {
        column-gap: 0;
    }
    .footer_img {
        width: 100px;
    }
    .address {
        width: 120px;
        font-size: 14px;
    }
    .box2 {
        width: 213px;
    }
    .footer_header {
        font-size: 14px;
        width: 100px;
    }
    .footer_ul {
        width: 160px;
    }
    .footer_li {
        width: 100px;
        font-size: 13px;
    }
    .main_eighth-img {
        width: 50px;
        height: 50px;
    }
    .main_eighth-header {
        font-size: 17px;
        width: 190px;
    }
    .main_eighth-text {
        font-size: 15px;
        width: 180px;
    }
}

@media (min-width:1220px) and (max-width:1326px) {
    .main_first {
        /* padding-left: 100px; */
    }

    .main_third{
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .main_sixth-img {
        width: 50px;
        height: 50px;
    }
    .main_sixth-box2-1 {
        width: 300px;
    }
    .main_sixth-box2 {
        display: grid;
        grid-template-columns: 200px 200px;
        row-gap: 10px;
        column-gap: 20px;
    }
    .main_sixth-box2-1_text1 {
        font-size: 17px;
        width: 210px;
    }
    .main_sixth-box2-img {
        width: 200px;
        height: 200px;
    }
    .main_sixth-box2-2{
        margin-left: 10px;
    }
    footer {
        column-gap: 0;
    }
    .footer_img {
        width: 100px;
    }
    .address {
        width: 120px;
        font-size: 17px;
    }
    .box2 {
        width: 300px;
    }
    .box1 {
        width: 300px;
    }
    .footer_header {
        font-size: 17px;
        width: 100px;
    }
    .footer_ul {
        width: 260px;
    }
    .footer_li {
        width: 190px;
        font-size: 16px;
    }
}

@media (min-width:1326px) and (max-width:1496px) {
    .main_first-photo {
        width: 500px;
    }
    .main_sixth-box2-2 {
        width: 45%;
    }
    .main_sixth-box2-2 {
        margin-left: 0px;
    }
    .main_third {
        padding-left: 0px;
        width: 70%;
        margin: 0 auto;
        margin-top: 100px;
    }
  
}

@media (min-width:1496px) and (max-width:1950px) {
    .main_sixth-box2-2 {
        width: 55%;
    }
    .main_third-box1-1_2{
       width: 55%;
    }
    .main_fifth{
        width: 50%;
        margin: 0 auto;
        margin-top: 100px;
    }

    .main_ninth_header{
        font-size: 45px;
        width: 600px;
    }
    .main_ninth-img{
        width: 600px;
    }
    .main_ninth_text{
        font-size: 20px;
        width: 650px;
    }
    .main_third-box1-1{
        width: 23rem;
    }
    .main_third-box1-1_text2{
        width: 20rem;
    }

    footer{
        width: 75%;
        margin: 0 auto;
        margin-top: 70px;
    }
    .main_sixth-box2-2{
        margin-left: 40px;
    }
}

@media (min-width:930px) and (max-width:1024px) {
    .main_second{
        width: 95%;
    }
    .main__second-photos{
        width: 100px;
    }
    .main_third {
        width: 85%;
    }
    .main_third-box1-1_text2 {
        width: 445px;
    }

    .main_third-box1-1{
        width: 450px;
    }
    .main_fifth{
        width: 85%;
    }
    .main_sixth-box1{
        margin: 0;
        padding: 0;
    }
    .img_sixth-none{
        display: none;
    }
    .main_sixth-box2-2{
        display: flex;
        flex-direction: column;
    }
    .main_eighth{
        width: 100%;
        column-gap: 10px;
    }
    .main_eighth-header{
        font-size: 20px;
    }
    .main_eighth-text{
        font-size: 16px;
        width: 170px;
    }
    .main_eight-box1{
        width: 170px;
    }
    .yigma{
        width: 150px;
    }
    .main_ninth-img{
        display: none;
    }
    
    footer{
        display: grid;
        grid-template-columns: auto auto;
        width: 80%;
        margin: 0 auto;
        row-gap: 20px;
    }
}
@media (min-width:870px) and (max-width:930px){
    .main_second{
        width: 95%;
    }
    .main__second-photos{
        width: 100px;
    }
    .main_third {
        width: 85%;
    }
    .main_third-box1-1_text2 {
        width: 445px;
    }

    .main_third-box1-1{
        width: 400px;
    }
    .main_fifth{
        width: 95%;
    }
    .main_sixth-box2-img{
        width: 100px;
        height: 100px;
    }
    .main_sixth-box1{
        margin: 0;
        padding: 0;
    }
    .img_sixth-none{
        display: none;
    }
    .main_sixth-box2-2{
        display: flex;
        flex-direction: column;
        row-gap: 120px;
    }
    .main_eighth{
        width: 100%;
        column-gap: 10px;
    }
    .main_eighth-header{
        font-size: 20px;
    }
    .main_eighth-text{
        font-size: 16px;
        width: 170px;
    }
    .main_eight-box1{
        width: 170px;
    }
    .yigma{
        width: 150px;
    }
    .main_ninth-img{
        display: none;
    }
    
    footer{
        display: grid;
        grid-template-columns: auto auto;
        width: 80%;
        margin: 0 auto;
        row-gap: 20px;
    }
}
@media (min-width:720px) and (max-width:870px){
    .main_second{
        width: 40rem;
    }
    .main__second-photos{
        width: 5rem;
    }
    .main_second-photos{
        gap: 1rem;
    }
    .main_first-header{
        font-size: 1.5rem;
    }
    .main_first-photo{
        width: 19rem;
    }
    .main_third{
        width: 45rem;
    }
    .main__third{
        width: 48rem;
    }
    .main_third-box1-1{
        width: 10rem;
    }
    .main_third-box1-1_text2{
        width: 12rem;
    }
    .main_third-box1-1_text1{
        font-size: 1.5rem;
    }
    .main_fifth{
        width: 50rem;
    }
    .main_sixth-box2-2{
        display: none;
    }
    .main_eighth{
        width:30rem;
        display: grid;
        grid-template-columns: auto auto;
    }
    .main_eighth-text{
        font-size: 1rem;
        width:10rem;
    }
    .main_eighth-header{
        font-size: 1.1rem;
        width: 15rem;
    }
    .main_ninth{
        width: 44.5rem;
    }
    .main_ninth_header{
        font-size: 1.3rem;
        width: 20rem;
    }
    .main_ninth_text{
        font-size: 1rem;
        width: 20rem;
    }
    .main_form{
        column-gap: 2rem;
        row-gap: 1rem;
    }
    footer{
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
        width: 35rem;
    }
    .main_sixth-box2-1{
        width: 14rem;
    }
    .main_sixth-box1-1{
        width: 15rem;
    }
    .main_sixth-box1{
        width: 20rem;
    }
    .main_fifth-boxes{
        display: block;
        width: 30rem;
        margin: 0 auto;
    }
    .main_fifth-box-first{
        margin-left: 0;
        margin-top: 2rem;
    }
    .main_fifth-box2{
        margin-left: 0;
        margin-top: 2rem;
    }
    .main_sixth-box2-1_text1{
        font-size: 1rem;
        width: 13rem;
    }
    .main_seventh-boxes1-11{
        margin-left: 0;
    }
    .main_ninth-img{
        display: none;
    }
    .main_third-text{
        width: 45rem;
        font-size: 2.2rem;
    }
}

@media (min-width:320px) and (max-width:480px){
    nav{
        width: 100%;
    }
    .nav_link{
        font-size: 0.8rem;
    }
    .nav_button{
        padding: 0.5rem;
    }
}

